@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Overlock&family=Poppins:ital,wght@0,300;0,400;1,200&display=swap');


*{
    margin: 0rem;
    padding: 0rem;
}

:root{
    --primary-color: #A5668B;
    --secondary-color:#F2D7EE;
    --alternate-color:#630000;
}

body{      
    font-family: 'Overlock', cursive;
  }

  nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem;
      margin: 1.5rem;
      font-size: 0.8rem;
  }
  .logo a{
      color: var(--primary-color) !important;
      font-weight: bold;
  }
nav ul{
    display: flex;
    text-decoration: none;
}

  nav ul li {
      list-style-type: none;
      padding: 0rem 1rem;
  }

  .header span{
      color: var(--primary-color);
  }

  .content a{
      text-decoration: none;
      color: black;
  }

  nav a:hover{
    color: var(--primary-color);
    font-weight: bold;
  }

  main{
      box-sizing: border-box;
      display: block;
      text-align: center;
      margin: auto;
      width: 60%;
      padding: 1rem;
      line-height: 2rem;
      margin-top: 3rem;
      font-size: 0.9rem;
  }
.main_btn{
    margin-top: 2rem;
}
.btn{
    padding: .5rem;
    margin: 1rem;
    border-radius: 0.3rem;
    box-shadow: 0rem 0.2rem 0.4rem 0rem  grey;
    color: var(--secondary-color);
  }

  .btn:hover{
      background-color: var(--secondary-color);
      transition: 0.7s;
      color: var(--primary-color);
  }

  .btn_primary{
      color: var(--secondary-color);
      background-color: var(--primary-color);
  }
  