.code-example-block{
    margin-top: 5rem;
   }
   
   .image{
    width: 14rem;
    height: 14rem;
    margin: 2rem;
    object-fit:cover;
   }
   
   .basic{
       border-radius: 10rem;
   }
   
   .border{
       padding: 0.3rem;
       border: 2px dashed black;
   }
   
   .opacity{
       opacity: 0.54;
       border-radius: 0.2rem;
   }
   
   .opacity:hover{
       opacity: 0.9;
       cursor: pointer;
   }
   
   .responsive{
       max-width: 100%;
       height: auto;
       border-radius: 0.4rem;
       margin: 1rem;
   }