
span{
    font-size: 0.7rem;
    color: black;
}
button{
    background-color: var(--primary-color) ;
    border: none;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
}
.child{
    margin: 1rem;
    position: relative;
    color: var(--primary-color);
    font-weight: bold;
}

.badge{
    background-color: var(--secondary-color);
    border-radius: 50%;
    position: absolute;
    border: 1px solid var(--alternate-color);
    box-shadow: 0.1rem 0.1rem 0.2rem 0rem var(--primary-color);
}
/* ONE */
.one{
  padding: 0rem 0.2rem;
  left: 5.3rem;
  top: -0.3rem;
}

/* TWO */
.two{
    padding: 0.3rem 0.5rem;
    left: 7rem;
    top: -0.9rem;
  }

/* THREE */
.three{
    padding: 0rem 0.3rem;
    left: 13rem;
    top: -0.4rem;

}


/* FOUR */
.four{
    padding: 0rem 0.3rem;
    top: -0.4rem;
    left: 12rem;
}

/* FIVE */
.five{
    padding: 0.1rem;
    left: 7.4rem;
}

.six{
    padding: 0.2rem;
    left: 10.2rem;
    top:1rem;
}

i{
    font-size: 2rem;
    color: var(--primary-color);
}


iframe{
    margin: 2rem 0rem;
    width: 42rem !important;
}

.img {
    width: 3rem;
    height: 3.2rem;
    border: 1.1px solid black;
    margin: -1rem 1.5rem;
  }
  .type-one{
      margin-top: 1rem;
      border-radius: 50%;
  }
  