:root{
    --pink:rgb(255, 192, 229);
    --dk-pink:rgb(251, 111, 181);
    --red:rgb(255, 137, 137);
    --dk-red:rgb(206, 21, 21);
    --blue:rgb(176, 229, 255);
    --dk-blue:rgb(104, 197, 255);
    --purple:rgb(223, 169, 223);
    --dk-purple:rgb(202, 64, 202);

}

.code-example-block{
    margin-top: 5rem;
}


.two-items{
    grid-template-columns: 1fr 1fr;
    max-width: 30rem;
    display: grid;
    grid-gap: 1rem;
    margin: auto;
}

.three-items{
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 36rem;
    display: grid;
    grid-gap: 1rem;
    margin: auto;
}

.grid-items{
    padding: 1rem;
    text-align: center;
    border: 1px dashed black;
}

.pink{
    background-color: var(--pink);
}
.dk-pink{
    background-color: var(--dk-pink);
}
.red{
    background-color: var(--red);
}
.dk-red{
    background-color: var(--dk-red);
}
.blue{
    background-color: var(--blue);
}
.dk-blue{
    background-color: var(--dk-blue);
}
.purple{
    background-color: var(--purple);
}
.dk-purple{
    background-color: var(--dk-purple);
}