@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Overlock&family=Poppins:ital,wght@0,300;0,400;1,200&display=swap');

@import './css/components.css';
/* @import './css/main.css'; */
@import './components/Alert/Alert.css';
@import './components/Avatar/Avatar.css';
@import './components/Badges/Badges.css';
@import './components/Button/Button.css';
@import './components/Card/Card.css';
@import './components/Grid/Grid.css';
@import './components/Image/Image.css';
@import './components/Input/Input.css';
@import './components/Lists/Lists.css';
@import './components/Modal/Modal.css';
@import './components/Navigation/Navigation.css';
@import './components/Navigation/Navigation.css';
@import './components/Rating/Rating.css';
@import './components/Snackbar/Snackbar.css';
@import './components/Text-Utilities/TextUtil.css';


:root{
    --primary-color: #A5668B;
    --secondary-color:#F2D7EE;
    --alternate-color:#630000;
    --positive-color: rgb(3, 209, 3);
    --negative-color: rgb(231, 0, 0);
    --disable-color: rgb(196, 192, 192);
    --hover: rgb(248, 248, 248);
    --snackbar : rgb(36, 49, 79);
    --star: rgb(255, 187, 0);
    --lightblue : rgb(118, 207, 240);
    --pink:rgb(255, 192, 229);
    --dk-pink:rgb(251, 111, 181);
    --red:rgb(255, 137, 137);
    --dk-red:rgb(206, 21, 21);
    --blue:rgb(176, 229, 255);
    --dk-blue:rgb(104, 197, 255);
    --purple:rgb(223, 169, 223);
    --dk-purple:rgb(202, 64, 202);
}

body{      
    font-family: 'Overlock', cursive;
  }