


.cardcom{
    margin: 2rem auto 4rem auto;
}

.card{
   display: flex;
   flex-direction: column;
   margin: 0.5rem;
   background-color: var(--secondary-color);
   border-radius: 0.5rem;
   width: 18rem;
   
   box-shadow: 0.3rem 0.5rem 0.6rem 0.2rem  grey;
}

.card-image-one{
    width: 18rem;
    height: 12rem;
    object-fit: contain;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

/* BASIC */
.card-text-one{
    padding: 0.5rem;
}

.card-text-one:hover{
    background-color: rgb(255, 239, 252);
    cursor: pointer;
    transition: 1s all;
}

.card-text-one summary{
    margin: 0.5rem 0rem;
}
footer{
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
    margin: 0.3rem;
}

span {
    padding: 0.3rem;
    border: 0.5rem;
    cursor: pointer;
    color: black;
}
span:hover{
    color: var(--primary-color);
    border-radius: 0.4rem;
}

i:hover{
    color:var(--alternate-color) ;
}

i{
    width: 1rem;
    height: 1rem;
    text-align: center;
    margin: 0rem 0.5rem;
    padding: 0.4rem 0.25rem 0rem 0.25rem ;
    border-radius: 50%;
    cursor: pointer;
}


/* two */


.noshadow{
    box-shadow: none;
    border: 1px dotted var(--alternate-color);
}

 .card-image-two{
     width: 6rem;
     height: 6rem;
     border-top-left-radius: 0.5rem;
 }
 
 section{
     display: flex;
     flex-wrap: nowrap;
 }
 article{
     padding: 0.5rem;
 }
 
 section:hover{
     cursor: pointer;
     background-color: var(--hover-color2);
 }


