.section label{
    font-size: 0.9rem;
    cursor: pointer;
}
.inputh4{     
   margin: 3rem 0rem;
 }

.code-example-block{
    margin-top: 5rem;
}

.input{
    padding: 0.3rem;
    margin: 0.5rem;
    background-color: rgb(247, 247, 247);
    border: 1px solid black;
    border-radius: 0.3rem;
}

.input:focus{
    outline: none;
    background-color: white;
}

#basic{
    border-top: none;
    border-left: none;
    border-right: none;
}

/* validation inputs */

.two{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1rem;
}


.two small{
   font-size: x-small;
   padding: 0rem;
   margin: 0rem 0rem 0rem 0.5rem;
}

.two input{
    margin: 0.1rem 0.5rem;
}

.type-error--input small{
    color: rgb(241, 0, 0);
}

.type-success--input small{
    color: green;
}

#valid-one{
    border:1.6px solid red;
}

#valid-one:focus{
    outline-color: red;
}

#valid-two{
    border:1.6px solid green;
}

#valid-two:focus{
    outline-color: green;
}



/* icon inputs */
.type-three--input{
    position: relative;
}
.type-three--input input{
    padding: 0.7rem;
    text-align:end;
}

.type-three--input i{
    text-shadow: 2px 2px 5px #000000;
    position: absolute;
    top: 1rem;
    left: 0.95rem;
}


/* textareas */

.type-four--input{
  position: relative;
}

.type-four--input textarea{
    width: 15rem;
    height: 10rem;
    text-align: center;
    padding: 0rem !important;
    padding-top: 1rem;
    text-shadow:0px 1px 2px #000000;
}

.text-icons .fas{
 margin-right: 0.9rem;
 text-shadow: 2px 2px 4px #000000;
}

.fa-paper-plane{
    color: rgb(69, 141, 228);
}
.fa-smile{
    color: rgb(255, 217, 0)
}

.fa,.fas:hover{
    cursor: pointer;
    text-shadow: 0px 1px 2px #000000;
}

.text-icons{
    position: absolute;
    background-color: white;
    width: 15rem;
    top: 8.7rem;
    left: 0.57rem;
    padding: 0rem;
    margin: 0rem;
    text-align: right;
    border-top: 1px dashed rgb(189, 187, 187);
}

.text-icons:hover{
    background-color:rgb(247, 247, 247);
}
