<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/components.css" />
    <link rel="stylesheet" href="./Avatar.css" />

    <title>Avatar</title>
  </head>
  <body>
    <div class="content">
      <!-- navbar : remains same for all pages -->
      <nav>
        <div class="logo"><a href="#">KairoDesigns</a></div>
        <div class="nav-links">
          <ul>
            <li><a href="#">Get Started</a></li>
            <li><a href="#">Docs</a></li>
          </ul>
        </div>
      </nav>

      <div class="page-content">
        <!-- sidenav bar : remains same for all components page -->
        <div class="side-nav">
          <ul>
            <li>
              <a href="./Avatar.html">Avatar</a>
            </li>
            <li>
              <a href="../Alert/Alert.html">Alert</a>
            </li>
            <li>
              <a href="../Badges/Badges.html">Badges</a>
            </li>
            <li>
              <a href="../Button/Button.html">Button</a>
            </li>
            <li>
              <a href="../Card/Card.html">Card</a>
            </li>
            <li>
              <a href="../Image/Image.html">Image</a>
            </li>
            <li>
              <a href="../Input/Input.html">Input</a>
            </li>
          </ul>
        </div>
        <!-- main content: changes acc to selected component -->
        <div class="main-content">
          <h1>Avatars</h1>
          <p class="description">
            Users can choose from a variety of avatars to use as their profile
            photo. They're always going to be rounded squares on GitHub. They
            can be bespoke pictures that users provide or Identicons that are
            created as placeholders.
            <br />
            <br />
            Avatars can either be the images of that person, vector images or
            any random images.
          </p>

          <div class="section section--type-one">
            <h4>Basic Avatars</h4> <small>Circular Avatars for embedding at various profile picture related spaces.</small>
            <div class="type-one--images">
              <img
                class="img type-one"
                src="../../assets/avatar/face-avatar.webp"
                alt="person"
              /><img
                class="img type-one"
                src="../../assets/avatar/vector-avatar.png"
                alt="vector"
              />
              <img
                class="img type-one"
                src="../../assets/avatar/cartoon-avatar.png"
                alt="cartoon"
              />
            </div>
            <div class="code-example-block">
                <img class="code-example" src="../../assets/avatar/example1.png" alt="code-example"/>
            </div>
          </div>
          <div class="section section--type_two">
            <h4>Square Avatars</h4>
            <small>Square Avatars for normal usages of images.</small>
            <div class="type-two--images">
              <img
                class="img type-two"
                src="../../assets/avatar/face-avatar.webp"
                alt="person"
              /><img
                class="img type-two"
                src="../../assets/avatar/vector-avatar.png"
                alt="vector"
              />
              <img
                class="img type-two"
                src="../../assets/avatar/cartoon-avatar.png"
                alt="cartoon"
              />
            </div>
            <div class="code-example-block">
                <img class="code-example" src="../../assets/avatar/example2.png" alt="code-example"/>
            </div>
          </div>
          <div class="section section--type_three">
            <h4>Varied Size Avatars</h4>
            <small>Avatars can be of various sizes as well.</small>
            <div class="type-three--images">
              <img
                class="img img-small type-one"
                src="../../assets/avatar/vector-avatar.png"
                alt="vector"
              />
              <img
                class="img img-large type-one"
                src="../../assets/avatar/cartoon-avatar.png"
                alt="cartoon"
              />
            </div>
            <div class="code-example-block">
                <img class="code-example" src="../../assets/avatar/example3.png" alt="code-example"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
