.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 0.3rem;
    background: var(--primary-color);
    outline: none;
    opacity: 0.4;
    border: 1px solid var(--alternate-color);
  }

  
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 1rem;
    height: 1rem;
    background: var(--primary-color);
    cursor: pointer;
    border: 1px solid var(--alternate-color);
  }
  
  
  .slider:hover {
    opacity: 0.6;
  }