
.code-example-block{
    margin-top: 5rem;
}

.list{
    margin-top: 2rem;
    margin-left: 2rem;
}

.list li{
   line-height: 2rem;
}

.list ol{
    margin-top: 2rem;
}
.list ul{
    margin-top: 2rem;
}


.alpha{
    list-style-type: lower-alpha;
}

.reverse{
    list-style-type: lower-roman;    
    display: flex;
    flex-direction: column-reverse;
}

.square{
   list-style-type:square;
}



/* stacked */



.stacked li{
    margin: 0.01rem ;
    list-style-type: none;
    font-size: medium;
    padding:0.1rem;
    padding-bottom: 0rem;
    border: 0.01rem dashed var(--primary-color);
    max-width: 38rem;
    line-height: 1.2rem;
    border-radius: 0.2rem;
}

@media screen and (max-width: 445px) {
    .inner{
      flex-direction: column;
    }

  }
.inner{
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--primary-color);
}
.notif-img{
    width: 2.5rem;
    height: 2.5rem;
    margin: 0rem 0.5rem;
}

.stacked li small{
  padding: 0rem;
  margin: 0rem 0.1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}