.snackbar {
  visibility: hidden;
  margin: auto;
  color: var(--hover);
  background-color: var(--primary-color);
  text-align: center;
  border-radius: 0.2rem;
  padding: 1rem;
  position: fixed;
  z-index: 1;
  left: 45%;
  border-radius: 1rem;
  box-shadow: 3px 4px 12px 2px var(--snackbar);
}
  
.type-one-snackbar{
  margin-top: 2rem;
  text-align: center;
}

.type-one-snackbar button{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
}

.type-one-snackbar button:hover{
  opacity: 0.7;
}

.type-one-snackbar .bottom {
  bottom: 2rem;
}

.type-one-snackbar .top {
  top: 2rem;
}

.snackbar.show {
  visibility: visible;
}

.snackbar .fas {
  color: var(--hover);
  font-weight: lighter;
  padding: 0rem 0rem 0rem 1rem;
  cursor: pointer;
}
